#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateSTUDENTInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateSTUDENTInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE STUDENT SET $update WHERE id=$ctx.args.updateSTUDENTInput.id}", "SELECT * FROM STUDENT WHERE id=$ctx.args.updateSTUDENTInput.id"]
}