#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateCLASSXSTUDENTInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateCLASSXSTUDENTInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE CLASSXSTUDENT SET $update WHERE id=$ctx.args.updateCLASSXSTUDENTInput.id}", "SELECT * FROM CLASSXSTUDENT WHERE id=$ctx.args.updateCLASSXSTUDENTInput.id"]
}